/* Header */
.burger{
    color: black;
}


.icone{
    text-align: center;
}

.sidebar-botao {
    background-color: #4B0082;
    border:none
}

nav{
    background-image:linear-gradient(to right, rgba(75, 0, 130, 1), rgba( 255, 235, 205, 1 ));
}


.form-pesquisa{
    padding-right: 5px;
}

/* cor seta dropdown */
.navbar .dropdown-toggle::after
{ color:#E7480E; }

/* Cor icons */
.botao-pesquisa{
    background-color:none;
}

.bi-gear-fill{
    color: #E7480E;
}

.config{
    color: #E7480E;
}

.bi-search{
    color: #E7480E;
}

.bi-list{
    color: #E7480E;
    font-size: 30px;
}

.icone p{
    color: #E7480E;

}

.icone-perfil{
    font-size: 30px;
    color: #E7480E;
}


/* Dark Mode */
.darkmode{
    background-color: black;
    color: azure;
}


/* Media query */
@media (min-width: 480px){
    .sidebar-botao{
        padding-left: 1rem;
    }
    .config:last-child{
        padding-right: 2rem;
    
    }
}

section{
    width: 100%;
    height: 125px;
}

.centro{
    width: 100px;
    height: 100px;
    display: flex;
    margin-left: 23.5%;
    gap: 20px;
    margin-top: 10px;
}



.estilo{
    margin-left: 150px;
    margin-top: 60px;
    display: inline-block;
}

main{
    width: 100%;
    height: 200px;
}

.estilograma{
 margin-top: 80px;
 text-align: center;
}


