footer{
    background-color: #4B0082;
    width: 100%;
    padding:30px;
  }
  
  .logo{
    width:"220"
  }
  
  :link{
    text-decoration: none;
    color: azure;
  }
  
  a:visited{
    color: azure;
  }