.Wallpaper{
width: 100%;
height: 230px;
background-color: #fff7f4;
}

.FotoCactoPerfil{
margin-left: 8%;
width:130px;
padding-top:10%;
} 

.Fundotela1{  
width: 44%;
height: 405px;
background-color: #ffefe3;
margin: 0 auto;
border-radius: 5%;
}

.Nome{
font-size: xx-large;
text-align:start;
margin-left: 6%;
}
        
.Iconelapis{
margin-left: 65%;
}   

.Descrição{
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
text-align:start;
margin-top: 1%;
margin-left: 6%;
}
    
.Meuseventosbotão{
color: #131212;
width: 60%;
height: 75px;
margin-top: 3%;
margin-left: 19%;
}

.Fundotela2{  
width: 62%;
height: 645px;
background-color: #ffefe3;
margin: 0 auto;
border-radius: 5%;
}

.Nome2{  
font-size: xx-large;
text-align:start;
margin-left: 6%;
}

.Arraia{
margin-top: 2%;
margin-left: 6%;
border-radius: 5%;
}

.Dilsinho{
margin-top: 2%;
margin-left: 1%;
border-radius: 5%;   
}

.Rebelde{
margin-top: 2%;
margin-left: 1%; 
border-radius: 5%;     
}

.Josh{
margin-top: 2%; 
margin-left: 1%;
border-radius: 5%; 
}

.DoceMaravilha{
margin-top: 2%; 
margin-left: 1%;
border-radius: 5%;   
}

.AB{
margin-top: 2%; 
margin-left: 6%;
border-radius: 5%;     
}

.Ferrugem{
margin-top: 3%; 
margin-left: 1%;
border-radius: 5%;    
}

.Roberta{
margin-top: 3%;     
margin-left: 1%;
border-radius: 5%; 
}

.Diogo{
margin-top: 3%; 
margin-left: 1%;
border-radius: 5%;    
}

.Arthur{
margin-top: 3%;     
margin-left: 1%;
border-radius: 5%; 
}

.VerMaisbotão{
color: #131212;
width: 12%;
height: 40px;
margin-top: 3%;
margin-left: 82%;   
}
