* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.burger {
  color: black;
}

.offcanvas-logo{
  padding-bottom: 10px;
}

.sidebar-botao{
  justify-content: center;
  padding-left: 1rem;
}

.bi-list{
  margin-right: 4px;
}

/* search */
/* div */
.search-box {
  top: 50%;
  left: 50%;
  height: 40px;
  border-radius: 50px;
  padding: 10px;
}
/* input */
.search-input {
  outline: none;
  border: none;
  background-color: #fff;
  width: 0;
  padding: 0;
  color: #000;
  float: left;
  font-size: 16px;
  transition: .3s;
  line-height: 40px;
  border-radius: 10px;
}
.search-input::placeholder {
  color: #dbc5b0;
}
/* icon */
.search-btn {
  color: #fff;
  float: right;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition: .3s;
}
.search-input:focus,
.search-input:not(:placeholder-shown) {
  width: 240px;
  padding: 0 6px;
}
.search-box:hover > .search-input {
  width: 240px;
  padding: 0 6px;
}
.search-box:hover > .search-btn,
.search-input:focus + .search-btn,
.search-input:not(:placeholder-shown) + .search-btn {
  
  color: #cd595a;
}

.pesquisa-nav{
  align-items: center;
}

.pesquisa-perfil{
  align-items: center;
}

.icon-sidebar {
  font-size: 50px;
}

.icone {
  padding-left: 2rem;
}

header {
  height: 70px;
}

nav {
  background-color: #0d0013;
  margin-bottom: 10px;
}

.perfil {
  padding-right: 1rem;
}

/* search */
.pesquisa-nav {
  margin-bottom: 16px;
}



/* Dark Mode */
.darkmode {
  background-color: rgb(41, 41, 41);
  color: azure;
}

/* Cor icons */
.botao-pesquisa {
  background-color: none;
  margin-left: 10px;
}

.bi-list,
.icone-perfil {
  color: #e0e2ab;
  font-size: 20px;
}

.botao-home,
.icone p,
.bi-search,
.login:visited,
.login,
.categorias p {
  color: #e0e2ab;
}

/* .navbar .dropdown-toggle::after { 
    color: #e7480e;
  }*/

/* Media query */
@media (min-width: 600px) {
  .sidebar-botao {
    padding-left: 1rem;
  }
  .config:last-child {
    padding-right: 4rem;
  }
}

@media (max-width: 720px) {
  .logo {
    width: 140px;
    height: 60px;
  }
}
/* css Main */

body {
  color: #ffffff;
  background-color: #180024;
}

.banner {
  padding: 0;
}

.sec1 {
  margin-bottom: 0px;
}

.sec1 h1 {
  text-shadow: 0px 8px 8px rgba(0, 0, 0, 0.5);
}

.background-image {
  position: relative;
}

.background-image img {
  display: block;
  width: 100%;
}

.background-image .caption {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 100%;
  height: 40%;
  margin: auto;
  padding: calc((90% - 550px) / 2);
  background-image: linear-gradient(
    to top,
    rgb(24, 0, 36) 35%,
    rgba(0, 0, 0, 0) 100%
  );
  text-align: center;
}

.background-image .caption h1 {
  margin-bottom: 20px;
  font-size: 60px;
  font-style: italic;
  font-family: serif;
}

.background-image .caption p {
  padding: 10px;
}

.sec2 {
  padding: 10px;
}

.sec2 h2 {
  margin: auto;
  padding: 10px;
  font-size: 60px;
  font-style: italic;
  font-family: serif;
  text-align: center;
  text-shadow: 0px 8px 8px rgba(0, 0, 0, 0.5);
}

.sec2 .artista-wrapper,
.sec2 .artista-list {
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 1px;
}

.sec2 .artista-wrapper > * {
  min-width: 70%;
}

.sec2 .artista-list {
  justify-content: center;
  padding: 0 calc((100% - (1024px / 2)) / 2);
  border-bottom: 1px solid #394048;
}

.sec2 .artista-list .artista-icon {
  padding: 20px;
  position: relative;
  cursor: pointer;
}

.sec2 .artista-list .artista-icon::before,
.sec2 .artista-list .artista-icon::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 5px);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #394048;
  transition: 0.25s;
}

.sec2 .artista-list .artista-icon::after {
  width: 2px;
  height: 40px;
  z-index: -1;
}

.sec2 .artista-list .artista-icon.active::before,
.sec2 .artista-list .artista-icon:hover::before,
.sec2 .artista-list .artista-icon.active::after,
.sec2 .artista-list .artista-icon:hover::after {
  background-color: #d0a85c;
}

.sec2 .artista-list .artista-icon img {
  padding: 5px;
  border: 2px solid transparent;
  transition: 0.25s;
  box-shadow: 10px 12px 18px rgba(0, 0, 0, 0.8);
}

.sec2 .artista-list .artista-icon.active img,
.sec2 .artista-list .artista-icon:hover img {
  transform: translateY(-10px);
  border: 2px solid #d0a85c;
}

.artista-info {
  max-width: calc(1024px / 2);
  padding: 30px;
  margin: auto;
  transition: 0.25s;
}

.artista-info .artista-info-name {
  margin: 5px 0;
  font-size: 28px;
  font-family: serif;
  text-shadow: 0px 8px 8px rgba(0, 0, 0, 0.5);
}

.artista-wrapper iframe {
  aspect-ratio: 16/9;
  width: calc(1024px / 2);
  max-width: calc(1024px / 2);
  height: 100%;
  object-fit: cover;
  opacity: 1;
  transition: opacity 0.25s ease-in-out;
}

video {
  justify-content: center;
  position: flex;
}

.fade-in {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 1.5s ease-in, transform 0.5s ease-out;
}

.fade-in.appear {
  opacity: 1;
  transform: translateY(0);
}

/* css footer */
footer {
  background-color: #0d0013;
  width: 100%;
  padding: 30px;
}

.logo {
  width: "220";
}

:link {
  text-decoration: none;
}

a:visited {
  color: azure;
}

.contatos i {
  font-size: 2rem;
}
