@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

nav {
  flex-direction: row;
  justify-content: start;
}
.burger {
  color: black;
}

.icon-sidebar {
  font-size: 50px;
}

.sidebar-botao {
  background-color: #4b0082;
  border: none;
}

.login{
  color: #e7480e;
}

.login:visited{
  color: #e7480e;
}

nav {
  background-image: linear-gradient(
    to right,
    rgba(75, 0, 130, 1),
    rgba(255, 235, 205, 1)
  );
}

/* Dark Mode */
.darkmode {
background-color: rgb(41, 41, 41);
color: azure;
}



/* Cor icons */
.botao-pesquisa {
  background-color: none;
}

.bi-gear-fill {
  color: #e7480e;
}

.config {
  color: #e7480e;
}

.bi-search {
  color: #131212;
}

.bi-list {
  color: #e7480e;
  font-size: 30px;
}

.icone p {
  color: #e7480e;
}

.icone-perfil {
  font-size: 30px;
  color: #e7480e;
}

.botao-home {
  color: #e7480e;
}

.navbar .dropdown-toggle::after {
  color: #e7480e;
}

/* Media query */
@media (min-width: 600px) {
  .sidebar-botao {
    padding-left: 1rem;
  }
  .config:last-child {
    padding-right: 4rem;
  }
}

@media (max-width: 720px) {
  .logo {
    width: 140px;
    height: 60px;
  }
}