footer {
  background-color: #0d0013;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
}

.logo {
  width: "220";
}

:link {
  text-decoration: none;
}

footer a:visited {
  color: azure;
}

.contatos i {
  font-size: 2rem;
}

.col h4{
  font-weight: bold;
  font-size: 40px;
  color: aliceblue;
}

.col p{
  font-size: 16px;
  color: rgb(223, 223, 223);
}

.titulo-contato{
  font-weight: bold;
  font-size: 30px;
  color: aliceblue;
}

.contatos{
  color: #fff;
  padding-bottom: 10px;
}


footer {
  color: #fff
}