@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

nav{
  flex-direction: row;
  justify-content: start;
}
.burger{
  color: black;
}

.icon-sidebar{
  font-size: 50px;
}

.sidebar-botao {
  background-color:  #4B0082;
  border:none
}

nav{
  background-image:linear-gradient(to right, rgba(75, 0, 130, 1), rgba( 255, 235, 205, 1 ));
}

/* Dark Mode */
.darkmode{
  background-color: rgb(41, 41, 41);
  color: azure;
}
/* Cor icons */
.botao-pesquisa{
  background-color:none;
}

.bi-gear-fill{
  color: #E7480E;
}

.config{
  color: #E7480E;
}

.bi-search{
  color: #E7480E;
}

.bi-list{
  color: #E7480E;
  font-size: 30px;
}

.icone p{
  color: #E7480E;

}

.icone-perfil{
  font-size: 30px;
  color: #E7480E;
}


.navbar .dropdown-toggle::after
{ color:#E7480E; }

/* Media query */
@media (min-width: 600px){
  .sidebar-botao{
      padding-left: 1rem;
  }
  .config:last-child{
      padding-right: 4rem;
  
  }
}

@media (max-width:720px){
    .logo{
      width: 160px;
      height: 60px;
    }

}
  


.container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 85px;
}

.card {
  background-color: #ffffff80;
  padding: 30px;
  border-radius: 4%;
  box-shadow: 0px 3px 3px 3px #00000060;
  width: 400px;
  margin-bottom: 20px;
}

h1{
  text-align: center;
  margin-bottom: 20px;
  color: #e7480e;
}

.label-float input{
  width: 100%;
  padding: 5px 5px;
  display: inline-block;
  border: 0;
  border-bottom: 2px solid #e7480e;
  background-color: transparent;
  outline: none;
  min-width: 180px;
  font-size: 16px;
  transition: all .3s ease-out;
  border-radius: 0;
  
}

.label-float{
  position: relative;
  padding-top: 13px;
  margin-top: 1%;
  margin-bottom: 1%;
}

.label-float input:focus{
  border-bottom: 2px solid #e75722ab;
}

.label-float label{
  color: #e7480e;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 13px;
  transition: all .2s ease-out;
}

.label-float input:focus + label,
.label-float input:valid + label{
  font-size: 13px;
  margin-top: 0;
  color: #e75722ab;
}

button{
  background-color: transparent;
  border-color: #e7480e;
  color: #e7480e;
  padding: 7px;
  font-weight: bold;
  font-size: 12pt;
  margin-top: 20px;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  transition: all .2s ease-out;
}

button:hover{
  background-color: #e7480e;
  color: #000000;
}

.justify-center{
  display: flex;
  justify-content: center;
}

.fa-eye{
  position: absolute;
  top: 15px;
  right: 10px;
  cursor: pointer;
  color: #ff9100d2;
}

#msgError{
  text-align: center;
  color: #ff0000;
  background-color: #ffbbbb;
  padding: 10px;
  border-radius: 4px;
  display: none;
}

#msgSuccess{
  text-align: center;
  color: #00bb00;
  background-color: #bbffbe;
  padding: 10px;
  border-radius: 4px;
  display: none;
}

.termos{
    font-size: 12px;
}